# ========================
# Node Modules
# ========================
node_modules/

# ========================
# Environment Variables
# ========================
.env
.env.*
!.env.example

# ========================
# Logs
# ========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
out.txt

# ========================
# Build Output
# ========================
dist/
build/
out/



# ========================
# MacOS
# ========================
.DS_Store

# ========================
# VSCode
# ========================
.vscode/

# ========================
# Coverage
# ========================
coverage/

# ========================
# Temporary Files
# ========================
tmp/
temp/

*.mp3
*.jpg
*.webm